<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <!-- 
      Default Logback file.
  -->

  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d [%t] %-5p %c %X{session} %X{username} %m%n</Pattern>
    </layout>
  </appender>

  <root level="INFO"> 
    <appender-ref ref="consoleAppender"/>
  </root>
  
</configuration>
